name: automatic release

on:
  push:
    tags:
      - v*

jobs:
  release:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-repo
      - run: pnpm run build
      - name: release
        run: npm i -g npm@^11.5.2 && pnpm publish --provenance --no-git-checks
